body{
    margin: 0;
}
.main-login{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-login{
    width: 350px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
}

.list-group-item,
.todo-info,
.todo-action{
    display: flex;
    flex-direction: row;
}

.list-group-item{
    justify-content: space-between;
}

.todo-info{
    justify-content: start;
    align-items: center;
}

.todo-info > p {
    margin-bottom: 0;
    padding-left: 1rem;
}

.todo-info > img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.todo-action{
    justify-content: end;
    align-items: center;
}

.todo-action > .btn{
    margin-left: 1rem;
}